/*Import Poppins Font*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/*Import Cinzel Decorative Font */
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.testimonial-content {
  width: 100%;
  background-image: url("../images/gold-black.jpg");
  background-size: 100%;
  padding: 0px;
}

.testifier {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
  font-size: 30px;
}

.card-title  .testifier span{
  color: green;
}

#video {
  object-fit: cover;
  width: 99%;
  height: 700px;
  position: absolute;
  z-index: -1;
}

.video-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

#first_container {
  width: 100%;
  background: rgba(0, 0, 0, 0.585);
  padding: 0px;
  min-width: 100%;
}

.bg-dark {
  background-color: black !important;
}

/*Setting colours to variables in the root element*/
:root {
  --bg-color: #000000;
  --main-color: #daa520;
  --text-color1: #000000;
  --text-color2: #fff;
  --text-color3: #4a1818;
}

.navbar {
  background-image: url("../images/MenuBar.png");
  background-size: cover;
  background-repeat: none;
}

/*Customizing the Bootstrap hamburger color*/
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='goldenrod' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler {
  color: var(--main-color);
  border-color: var(--main-color);
  background-color: var(--text-color1);
}

/*Adjusting the links to the center*/
.navbar-nav {
  display: flex;
  text-align: center;

  position: absolute;
  right: 10px;
  margin-top: 2px;
  border-radius: 5px;
  text-align: center;
  border: none;
  color: white;
  transition: 0.7s;
  justify-content: flex-end;
}

.nav-item {
  margin-right: 20px;
  margin-left: 20px;
  list-style: none;
}

/*Adjusting the colours*/
.nav-link {
  color: var(--text-color1);
  font-weight: bold;
}

.nav-link:hover {
  color: var(--text-color2);
}

.navbar-brand {
  color: var(--text-color1);
}

/*Body Styles*/

body {
  width: 100%;
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color2);
}

.header-content {
  height: 740px;
  width: 100%;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: #00000091;
}

/*Style rules for the navigation bar*/

.logo {
  color: var(--main-color);
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
}
/*End of style rules for the navigation bar*/

#welcome-text {
  padding-top: 100px;
  padding-bottom: 0px;
  color: white;
  font-size: 100px;
  font-family: "Gill Sans";
}

/*Style for the header image*/
.tribal-image {
  width: 45%;
  margin: auto;
}

.top-hr {
  background-color: var(--bg-color);
  height: 8px;
  width: 35%;
  margin: auto;
  border: none;
  opacity: 100%;
}

.triangle-img {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80px;
  bottom: 20px;
}

#testimonial-text {
  color: aliceblue;
  font-size: 80px;
  font-family: Impact;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 100px;
}

main {
  margin-bottom: 30px;
}

.middle-container {
  background-image: url("../images/background.png");
}

.tribal-box {
  background-color: rgb(122, 108, 2);
  padding-top: 30px;
  padding-bottom: 30px;
}

.tribal-box h1 {
  color: antiquewhite;
}

#tribal-pronounciation {
  color: rgb(255, 251, 249);
  font-style: oblique;
  font: bold;
}

.meaning {
  color: rgb(209, 207, 204);
}

.gateway-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.gateway-box h1,
p {
  color: var(--text-color1);
}

#gateway-pronounciation {
  font-style: oblique;
  font-weight: bold;
}

.mission-box {
  background-color: var(--bg-color);
}

.mission-box .col-md-12 {
  text-align: center;
  padding-top: 100px;
}

.mission-text {
  color: aliceblue;
  font-size: 80px;
  font-family: Impact;
}

.mission-img-box {
  background-color: var(--bg-color);
}

.mission-img-box .col-md-12 {
  padding: 20px;
  border-radius: 40px;
  text-align: center;
}

.mission-img-top,
.mission-img-bottom {
  max-width: 100%;
  height: auto;
}

.mission-img-bottom {
  margin-bottom: 50px;
}

.mission-statement {
  margin-bottom: 50px;
  color: bisque;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  margin-top: 50px;
}

.prize-container {
  background-image: url("../images/gold-black.jpg");
  height: 470px;
  padding-top: 0px;
}

.prize-container img
{
  width:100%; 
  height: 450px; 
  object-fit: contain; 
  object-position: inherit;
}

.prize-box {
  padding: 30px;
  height: 470px;
  background-color: rgba(0, 0, 0, 0.8);
}

.prize-img-class{
  background-color: rgba(0, 0, 0, 0.8);
}


.prize-box h1 {
  color: aliceblue;
  font-size: 40px;
  font-family: Impact;
  text-align: left;
  padding-top: 0;
}

.prize-box p {
  text-align: left;
  color: whitesmoke;
}

.visiting-div {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 76%;
}

.visiting-text,
.visiting-text2 {
  font-weight: bolder;
}

.visiting-text2 {
  color: aliceblue;
}

.divider {
  border-bottom: var(--main-color) 10px solid;
  width: 100%;
}

#prizeCarousel {
  margin-top: 0px;
}



.picture-slide {
  width: 100%;
  height: 520px;
}

.country-gallery {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 90%;
}

.image-container {
  position: relative;
}

.modal-content {
  background-size: 100% 100%;
}

#NigeriaModal a {
  background-color: #430303;
  border-color: #4a1818;
}

#RwandaModal a {
  background-color: #430303;
  border-color: #4a1818;
}

#GhanaModal a {
  background-color: #430303;
  border-color: #4a1818;
}

.ghana-modal {
  background-image: url("../images/ghanaflag.jpg");
}

.rwanda-modal {
  background-image: url("../images/rwandaflag.png");
}

.nigeria-modal {
  background-image: url("../images/nigeriaflag.jpg");
}

.btn img {
  width: 100%;
  height: 250px;
  transition: transform 0.2s;
}



.btn:hover img {
  transform: scale(1.1);
  filter: brightness(0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.testimonial-carousel {
  color: white;
  margin-right: auto;
  margin-top: 40px;
  width: 75%;
}

.fa-star {
  color: var(--main-color);
}

.checked {
  color: orangered;
}


.d-flex {
  display: flex;
  align-items: center; /* This centers the items vertically */
}

.d-flex h5 {
  color: white;
}

.d-flex img {
  margin-right: 40px;
  width: 100px;
  height: 100px;
}

.card-body p {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.89);
  color: white;
  font-weight: bolder;
  border-radius: 10px;
}

.card-body img{
  height: 150px;
  width: 150px;
}

.card-border {
  border: none;
}

footer {
  padding: 30px;
}

#copyright {
  color: rgb(232, 177, 13);
}

.pt-5 {
  height: 500px;
}

.py-5 {
  padding-top: 1rem !important;
}

.display-4 {
  text-shadow: 2px 2px 4px #000;
}

/*Responsive Styles for smaller screens*/
@media only screen and (max-width: 480px) {
  header {
    margin-bottom: 50px;
  }

  .header-content{
    height: 560px;
  }

  .navbar-nav{
    position: relative;
  }
  .nav-item {
    margin-right: 2px;
    margin-left: 2px;
    font-size: 12px;
  }

  .header-content {
    height: 400px;
  }

  .card-body img{
    height: 400px;
    width: 400px;
  }

  .card-body .card-title span{
    color: #daa520;
    font-size: 80px;
  }

  #video {
    width: 97%;
    height: 380px;
  }

  #welcome-text {
    padding-top: 40px;
    font-size: 30px;
    margin-bottom: 5px;
  }

  .tribal-image {
    width: 80%;
    height: 200px;
  }

  .top-hr {
    height: 10px;
    width: 35%;
  }

  .triangle-img {
    bottom: 5px;
  }

  .gateway-box {
    background-image: url("../images/background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .mission-box .col-md-12 {
    padding-top: 50px;
  }

  .mission-text {
    font-size: 2rem;
  }

  .mission-statement {
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.5rem;
    margin-top: 20px;
  }

  .prize-box {
    padding: 15px;
    height: 370px;
  }

  .prize-container {
    
    height: 270px;
    padding-top: 0px;
  }

  .prize-box h1 {
    font-size: 1.8rem;
  }

  .picture-slide {
    height: 320px;
  }

  .visiting-text {
    font-size: 1.8rem;
  }

  .visiting-text2 {
    font-size: 1.5rem;
  }

  #testimonial-text {
    font-size: 2rem;
    margin-top: 80px;
  }

  .testimonial-carousel {
    width: 100%;
  }

  .testifier {
    font-size: 1.5rem;
  }

  .d-flex img {
    margin-right: 20px;
    width: 80px;
    height: 80px;
  }
}

@media (min-width: 481px) and (max-width: 600px) {
  header {
    margin-bottom: 60px;
  }

  .header-content{
    height: 960px;
  }

  .navbar-brand {
    display: none;
  }

  .navbar-nav{
    position: relative;
  }

  .nav-item {
    margin-right: 2px;
    margin-left: 2px;
    font-size: 12px;
  }

  .header-content {
    height: 500px;
    background-color: #000000c0;
  }

  #video {
    width: 100%;
    height: 480px;
  }

  #welcome-text {
    padding-top: 40px;
    font-size: 39px;
    margin-bottom: 5px;
  }

  .tribal-image {
    width: 80%;
    height: 300px;
  }

  .top-hr {
    height: 10px;
    width: 35%;
  }

  .triangle-img {
    bottom: 5px;
  }

  .card-body img{
    height: 120px;
    width: 120px;
  }

  .gateway-box {
    background-image: url("../images/background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .mission-box .col-md-12 {
    padding-top: 50px;
  }

  .mission-text {
    font-size: 2rem;
  }

  .mission-statement {
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.5rem;
    margin-top: 20px;
  }


  .prize-container img
{

  height: 290px; 
}

  .prize-container {
    
    height: 650px;
  }

  .prize-box {
    padding: 15px;
    height: 400px;
  }

  .prize-box h1 {
    font-size: 1.8rem;
  }

  .picture-slide {
    height: 350px;
  }

  .visiting-text {
    font-size: 1.8rem;
  }

  .visiting-text2 {
    font-size: 1.5rem;
  }

  #testimonial-text {
    font-size: 2rem;
    margin-top: 80px;
  }

  .testimonial-carousel {
    width: 100%;
  }

  .testifier {
    font-size: 1.5rem;
  }

  .d-flex img {
    margin-right: 20px;
    width: 80px;
    height: 80px;
  }
}


footer.last{
  background-color: black ;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  align-items: center;
  padding: 30px 100px 0px;
  justify-content: space-between;
}

footer.last .images{
  flex: 1 1 10rem;
}


footer.last ul{
  flex: 1 1 40rem;
  display: inline-flex;
  list-style-type: none;
  margin-right: -30px;
}

footer.last ul li{
  margin: 15px;
  color: white;
}

footer.last ul li a{
  text-decoration: none;
  color: white;
}

footer.links{
  flex: 1 1 40rem;

}


footer.last .links  a  {
  margin: 0px 10px;
  color: white;
  text-decoration: none;
  font-size: 25px;
  transition: color 0.6s;

}

footer.last .links a:hover{
  color: #daa520;
}

section.gallery{
  background-color: whitesmoke;
  padding-top: 80px;
  text-align: center;
}

.gallery .container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 10px 10px;
}

.gallery .container .box{
  flex: 1 1 20rem;
  cursor: pointer;
  color: #666;
}

.gallery .container .box img{
  object-fit: cover;
  width: 100%;
  border: 10px solid white;
  border-radius: 5px;
  height: 300px;
  
}

section.slider {
  align-items: center;
  background: #e3e3e3;
  display: flex;
  justify-content: center;
}

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slider::before, .slider::after {

  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
}






@media screen and (max-width:900px) {
  .gallery .container{
    padding: 10px 5px;
}
  section.search{
      padding: 60px 0px 0px;
      text-align: center;
  }

  footer.last{
      background-color: black ;
      display: block;
      text-align: center;
      
      
  }

  footer.last ul{
      display: block;
      text-align: center;
      padding-top: 30px;
  }

  footer.last ul li{
      font-size: 20px;
  }

  footer.last .links{
      padding-top: 40px;
  }
}